body {
    background-image: url(./assets/imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 5em;
  
    
}

main {
    text-align: center;
    margin-top: 10em;
}


.answer {
    
    font-size: 2.5em;
    border-radius: 35px;
    border: 5px solid hsl(298.5deg 27.03% 70.98%);
    cursor: pointer;
  
}

.answerContainer {
     display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 colonne uguali */
      gap: 20px;
      max-width: 600px;
      margin: 0 auto; /* centra il contenitore */
      padding: 20px;
}

#logo {
     width: 180px;
  margin-top: 2em;
  margin-left: 3em;
}

.answer {
    
    font-size: 2.5em;
    border-radius: 35px;
    border: 5px solid hsl(298.5deg 27.03% 70.98%);
    cursor: pointer;
  
}


.answer.selected {
    background-color:hsl(315.64deg 98.95% 37.25%) ;
}

.hide {
    display: none;
}


#nextBtn {
    width: 10em;
    height: 3em;
    border-radius: 10px;
    background-color:hsl(180deg 100% 50%);
    color: aliceblue;
    font-size: 1em;
    margin-top: 5em
   

}

.question {
    margin-top: 10em;
    
}

main h2 {
    color: aliceblue;
}

main label {
    color: aliceblue;
}


.end-button {
    background-color:hsl(180deg 100% 50%);
    color: aliceblue;
    font-size: 1.5em;
    margin-top: 5em;
    color: hsl(315.64deg 98.95% 37.25%);
    display: inline-block;
    width: 5em;
    height: 1.5em;
    text-align: center;
    border-radius: 35px;
    text-decoration: none;
}

#counter {
    text-align: center;
    color: aliceblue;
    margin-top: 5em;
    font-size: larger;

}
