body {
  background-image: url(/assets/imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
}
p {
  color: rgb(180, 180, 180);
}
.epic-logo {
  width: 180px;
  margin-top: 2em;
  margin-left: 3em;
}
