* {
  box-sizing: border-box;
}
/* generics */
body {
  background-image: url(../imgs/bg.jpg);

  font-family: "inter", "sans-serif";
  width: 60%;
  margin: 0 auto;
}

.centrale {
  margin-top: 3px;
  font-size: 11px;
  font-weight: 500;
  color: #beb6cc;
}
p {
  margin-top: 2.5px;
}
ul {
  padding-left: 1.2em;
  margin-top: 3em;
  list-style: disc;
  padding-left: 1.5em;
}
li {
  margin-top: 5px;
}
span {
  font-weight: bold;
  color: #f2eef4;
}

/* header */
header img {
  width: 7em;
  margin: 2em 0;
}
h1 {
  margin-top: 0;
  font-family: "Outfit", sans-serif;
  font-size: 3em;
  color: #e7e7eb;
}
.welcome-to {
  font-weight: 300;
}
h3 {
  font-family: "Outfit", sans-serif;
  color: #c2128d;
  font-size: 2em;
  font-weight: 700;
  margin: 20px 0 10px;
}

/* form */
.form {
  margin: 4em 0;
}
label {
  font-size: 11px;
  font-weight: 500;
  color: #f9f8fa;
}

button {
  margin-left: 9em;
  color: black;
  background-color: #00ffff;
  text-transform: uppercase;
  padding: 11px 37px;
  font-weight: bold;
  border: none;
}
#check {
  appearance: none;
  width: 10px;
  height: 10px;
  border: solid 2px white;
  position: relative;
  cursor: pointer;
}
